@import "tailwindcss";

:root {
	--primary-color: #ea580c;
}

html {
	@apply scroll-smooth;
}

.section-padding {
	@apply px-5 md:px-12 lg:px-16 xl:px-28 py-5 md:py-16;
}

.sectionHeading {
	@apply capitalize font-medium text-2xl text-center;
}

.sectionHeadingSubText {
	@apply text-center text-gray-500 dark:text-white mb-5 md:mb-10;
}

.menuContainer {
	@apply w-8 h-6 lg:hidden relative flex flex-col justify-center z-50;
}

.hideNav {
	@apply absolute lg:relative -translate-y-[750px]  lg:-translate-y-0 opacity-0 lg:opacity-100;
}

/* PROJECTS */
.projectToggle {
	@apply flex flex-row items-center gap-3 rounded-xl p-3 border border-gray-300 w-fit mx-auto mb-10  font-medium;
}

.projectToggleButtons {
	@apply p-2 rounded-lg border cursor-pointer capitalize hover:scale-105 transition ease-in-out duration-500;
}

.prevNextBtn {
	@apply bg-[#EA580C] rounded-full p-3 shadow-lg transition-all cursor-pointer hover:scale-110 duration-300;
}

.prevNextBtnIcon {
	@apply w-6 h-6 text-white;
}

/* CONTACT ME */
.inputLabelGroup {
	@apply flex flex-col gap-3 capitalize;
}

.inputLabelGroup > input,
textarea {
	@apply placeholder:capitalize bg-[#F5F5F5] dark:bg-[#262626] rounded-lg p-2 focus:outline-none;
}
