@import "tailwindcss";

:root {
	--primary-color: #ea580c;
}

.section-padding {
	@apply px-5 md:px-12 lg:px-16 xl:px-28 py-5 md:py-16;
}

.sectionHeading {
	@apply capitalize font-medium text-2xl text-center;
}

.sectionHeadingSubText {
	@apply text-center text-gray-500 mb-5;
}

/* PROJECTS */
.projectToggle {
	@apply flex flex-row items-center gap-3 rounded-xl p-3 border border-gray-300 w-fit mx-auto mb-10  font-medium;
}

.projectToggleButtons {
	@apply p-2 rounded-lg border cursor-pointer capitalize hover:scale-105 transition ease-in-out duration-500;
}

.pageNumGrp {
	@apply flex flex-row items-center justify-center gap-4;
}

.pageNum {
	@apply px-3 py-1 rounded-full transition-all ease-in-out duration-500;
}

.prevNextBtn {
	@apply capitalize font-medium border border-gray-300 bg-gray-200 rounded-lg px-4 py-2 cursor-pointer hover:scale-110 transition ease-in-out duration-200;
}
